


@model List<DressApp.WebUi.Data.Models.Product>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h1>  @ViewBag.entity Ürünleri</h1>
<hr />
<br />



   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <div class="container mt-3">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card" style="width:300px;height:550px;margin-left:60px;">
                        <img class="card-img-top" src="~/img/@item.ProductImageUrl" alt="Card image" style="width:100%;height:70%;">
                        <div class="card-body">

                            <div class="mb-3">
                                <h6 class="card-title ml-3" style="color:darkslateblue;margin-left:22px;"><p style="display:inline;color:black;">Ürün Adı: </p>@item.ProductName</h6>
                            <h6 style="color:darkslateblue;margin-left:27px;">
                                    <p style="display:inline;color:black;">Reyonu:</p>
                                    @ViewBag.entity
                                </h6>
                            <h6 style="color:darkslateblue;margin-left:27px;">
                                <p style="display:inline;color:black;padding-left:20px;margin-left:4px;"> Beden:</p>
                                    @item.ProductSize  <p style="display:inline;color:black;padding-left:40px;"> Fiyat:</p> @item.ProductPrice<i class="fa fa-turkish-lira" style="font-size:13px;"></i>
                                </h6>

                            </div>

                            <a href="/Product/Details/@item.ProductId" class="btn btn-info" style="margin-left:20px;">Detay</a>
                        <a href="/Product/ProductUpdate/@item.ProductId" class="btn btn-warning" style="margin-left:7px;">Düzenle</a>
                        <a href="/Product/ProductDelete/@item.ProductId" class="btn btn-danger " style="margin-left:7px;">Kaldır</a>

                        </div>
                    </div>

                    <br>
                </div>
            }
        </div>
    </div>



     

