@model DressApp.WebUi.Data.Models.Rayon
@{
    ViewData["Title"] = "RayonAdd";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h1>RayonAdd</h1>
<hr />
<br />

@using (Html.BeginForm("RayonAdd","Rayon",FormMethod.Post))
{
    @Html.ValidationMessageFor(x=>x.RayonName,"",new{@style="color:red"})
    <br />
    @Html.LabelFor(x=>x.RayonName)
    @Html.TextBoxFor(x=>x.RayonName,new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.RayonDescription)
    @Html.TextBoxFor(x=>x.RayonDescription,new {@class="form-control"})
    <br />
  <button class="btn btn-primary">Rayon Add</button>
   
}

