@using DressApp.WebUi.Data.Models
@model List<OrderListModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



@{
    int i;
    ViewData["Title"] = "GetOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:darksalmon"> Siparişlerim</h1>
<h6 style="color:darksalmon;margin-left:1150px;">@Model.Count Adet Sipariş Kaydı</h6>
<hr />
<br />


@if (Model.Count == 0)
{
    <section class="">
        <div class="">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">
                    <div class="card card-registration card-registration-2"
                     style="border-radius: 15px;background-color:whitesmoke">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <h3 style="margin-left:20px;" class="fw-bold mt-4 text-dark"> Siparişim</h3>
                                        </div>

                                        <h6 class="mt-5 text-muted"></h6>

                                        <hr class="my-4" />

                                        <h6 style="margin-left:30px;margin-bottom:200px;color:darksalmon">Siparişiniz Bulunmamaktadır!</h6>










                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <br />
    <br />
    <br />

}else{
    @foreach (var item in Model)
    {    
      
        <section class="">
        <div class="">
            <div class="row d-flex justify-content-center align-items-center h-100">


                <div class="col-10">
                    <div  class="card card-registration card-registration-2"
                     style="border-radius: 15px;background-color:whitesmoke">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <h3 style="margin-left:20px;" class="fw-bold mt-4 text-dark">  Siparişim</h3>
                                            <h6 class="mt-5 text-muted">@item.CountOrderItems() Farklı Ürün</h6>
                                        </div>
                                        <hr class="my-4" />
                                        @if (item.CountOrderItems() == 0)
                                        {
                                            <h6 style="margin-left:30px;margin-bottom:200px;" class="text-success">Sepetinizde Ürün Bulunmamaktadır!</h6>
                                            
                                                            }
                                        @foreach (var order in item.OrderItems)
                                        {
                                            <div style="margin-left:30px;" class="row mb-4 d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img style="width:80px;height:80px;" src="/img/@order.ImageUrl" />
                                                </div>
                                                <div class="col-md-2 ">
                                                    <h6 class="text-muted">Ürün Adı</h6>
                                                    <h6 class="text-black mb-0">@order.Name</h6>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <h6 class="text-muted">Ürün Fiyatı</h6>
                                                    <h6 class="mb-0">@order.Price <i class="fa fa-turkish-lira" style="font-size:13px;"></i></h6>

                                                </div>
                                                <div class="col-md-2 ">
                                                    <h6 class="text-muted">Ürün Adeti</h6>
                                                    <h6 class="text-black mb-0">@order.Quantity</h6>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <h6 class="text-muted">Toplam Fiyat</h6>
                                                    <h6 class="text-black ">@(order.Quantity * order.Price) <i class="fa fa-turkish-lira" style="font-size:13px;"></i></h6>
                                                </div>

                                                <div class="col-md-2   ">
                                                    @* <a style="width:120px;" href="/Cart/DeleteFromCart/@item.ProductId" class="btn btn-outline-danger btn-sm">
                                            <img width="20px;height:25px;" src="~/img/çöp.jpg" /> <span>Sepetten Sil</span>
                                            </a>*@
                                                  
                                                </div>
                                            </div>
                                        }


                                        @*  <hr class="my-4" />*@



                                        
                                    </div>
                                </div>
                                @if (item.CountOrderItems() > 0)
                                {


                                    <div class="col-lg-3 bg-grey">
                                        <div class="p-5">
                                            <h4 style="margin-top:-14px;text-align:center" class="fw-bold mb-5 pt-1">Sipariş Özeti</h4>
                                            <hr style="margin-top:-14px;" />

                                            <div class="d-flex justify-content-between mb-5">
                                                <h5 class=" mt-3">Sepet Tutarı @ViewBag.Total </h5>
                                                <h5 class="mt-3">@item.TotalPrice().ToString("c") </h5>
                                            </div>
                                            

                                            
                                            <div class="d-flex justify-content-between mb-3 ">
                                                <h5 class="">Sipariş Tutarı</h5>
                                                <h5>
                                                    @item.TotalPrice().ToString("c")

                                                </h5>
                                                @*
                                        <button style="position:absolute;margin-left:260px;width:120px;height:35px;" type="button"
                                        class="btn btn-outline-dark btn-sm "
                                        data-mdb-ripple-color="dark">
                                        Siparişi Tamamla
                                        </button>*@

                                               
                                            </div>




                                           

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       </section>

        <br />
        <br />
        <br />

    }       }

   


